trigger:
  branches:
    include:
    - '*'

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.7.x'
    addToPath: true
    architecture: 'x64'

- script: |
    pip install --upgrade pip
    pip install -r requirements.txt
    pip install -r requirements-dev.txt
  displayName: 'Install dependencies'

- script: python -m pytest --junitxml results.xml -s unit_tests/*.py
  displayName: 'Running unit tests'
  
- script: |
    flake8
    pylint unit_tests app  --disable=no-member
  displayName: 'Checking style'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/results.xml'
    mergeTestResults: true
    failTaskOnFailedTests: true
