name: Python application

on: [push]

jobs:
  build:

    env:
      BUILD_FLAG_PYTHON_HOME: python -m

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python build.py reqs
    - name: Test
      run: |
        python build.py quality test
